.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #4a90e2;
  color: white;
  font-size: 0.9em;
  position: fixed;
  width: 100%;
  bottom: 0;
}
